#employee{
  width: 80%;
  border-collapse: collapse;
  margin-left: 115px;
  margin-top: 120px;
}
th,td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th{
  font-size: 18px;
}
tr:hover{
  background-color: rgba(102, 163, 255, 0.7);
}
.menu{
  text-align: center;
  line-height: 65px;
  border: 1px solid green;
  background-color: rgba(102, 163, 255, 0.7);
  color: #fff;
}
.emp{
  border: 1px solid #fff;
}

.addNewEmp{
  position: absolute;
  margin-top: 40px;
  margin-left: 117px;
  padding: 8px;
  background-color:#6c54da;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.addNewEmp:hover{
  background-color: rgba(102, 163, 255, 1);;
}

.newEmp{
  border: 1px solid red;
}

.newform{
  border: 1px solid green;
  height: 100px;
  background:rgba(0,0,0,.4);
  cursor:pointer;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}

.formContainer{
  border: 1px solid blue;
  width: 80%;
  margin-left: 115px;
  margin-top: 173px;
  background-color: #fff;
  height: 200px;
}